.action-list-widget__links {
    list-style-type: none;
    padding: 0;
}

.action-list-widget__buttons {
    list-style-type: none;
}

.action-list-widget__buttons li {
    display: block;
    margin: 0 2pt;
}